<div class="animated fadeIn">

    <header class="header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12"><br>
                    <h1 class="tagline"><i class="fa fa-dashboard animated rubberBand"></i> About Us</h1>
                </div>
            </div>
        </div>
    </header><br>

    <div class="container">
    
        <div class="row">
            <div>
                <p>Introduce the visitor to the business using clear, informative text. Use well-targeted keywords within your sentences to make sure search engines can find the business.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et molestiae similique eligendi reiciendis sunt distinctio odit? Quia, neque, ipsa, adipisci quisquam ullam deserunt accusantium illo iste exercitationem nemo voluptates asperiores.
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ea corporis similique laborum tenetur ducimus pariatur autem sequi molestias. Placeat recusandae sed repellat nostrum a. Impedit, aliquid. Laudantium accusantium quia quas.
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ea corporis similique laborum tenetur ducimus pariatur autem sequi molestias. Placeat recusandae sed repellat nostrum a. Impedit, aliquid. Laudantium accusantium quia quas.</p>
                <p>Introduce the visitor to the business using clear, informative text. Use well-targeted keywords within your sentences to make sure search engines can find the business.</p>
            </div>
            <div>
                <a class="btn btn-success btn-lg" routerLink="/Contact">Contact Us &raquo;</a>
            </div>
        </div>
    </div>
</div>