<div class="animated fadeIn">

    <header class="header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12"><br>
                    <h1 class="tagline"><i class="fa fa-home animated rubberBand"></i> Our Locations</h1>
                </div>
            </div>
        </div>
    </header><br>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h2>Branch 1</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe rem nisi accusamus error velit animi non ipsa placeat. Recusandae, suscipit, soluta quibusdam accusamus a veniam quaerat eveniet eligendi dolor consectetur.</p>
            <a class="btn btn-success" href="#">More Info</a>
        </div>
        <div class="col-md-4">
            <h2>Branch 2</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe rem nisi accusamus error velit animi non ipsa placeat. Recusandae, suscipit, soluta quibusdam accusamus a veniam quaerat eveniet eligendi dolor consectetur.</p>
            <a class="btn btn-success" href="#">More Info</a>
        </div>
        <div class="col-md-4">
            <h2>Branch 3</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe rem nisi accusamus error velit animi non ipsa placeat. Recusandae, suscipit, soluta quibusdam accusamus a veniam quaerat eveniet eligendi dolor consectetur.</p>
            <a class="btn btn-success" href="#">More Info</a>
        </div>
    </div>
</div>