<div id="wrapper" class="animated fadeIn">

  <!-- Sidebar -->
  <div id="sidebar-wrapper">
      <ul class="sidebar-nav">
          <li>
              <a href="#">Profile</a>
          </li>
          <li>
              <a href="#">Orders</a>
          </li>
          <li>
              <a href="#">Settings</a>
          </li>
          <li>
              <a href="#">Logout</a>
          </li>
      </ul>
  </div>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper">
      <div class="container-fluid">
          <div class="row">
              <div class="col-lg-12">
                  <h1>Welcome {{this.account.Username}}</h1>
                  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ratione ex saepe cupiditate quos ipsa tenetur! Laboriosam optio quas hic quam, voluptas eveniet reiciendis magni ducimus placeat ullam quos dolore quo.</p>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non excepturi minima ipsam assumenda, asperiores libero incidunt iusto nam ipsum soluta deserunt exercitationem dicta! Nostrum ullam vitae in suscipit dolore? Ipsum?Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fuga eum cupiditate doloremque hic inventore architecto sint sunt blanditiis sequi maiores distinctio, rem repellat nulla pariatur voluptatibus enim! Blanditiis, quam Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quis nesciunt excepturi minus aliquid ratione ipsam nihil labore non qui doloribus id, rem numquam architecto. Temporibus corporis quia ipsam a magni.</p>
              </div>
          </div>
      </div>
      <a routerLink="" class="btn btn-success">Go Back</a>
  </div>
  <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->